:root {
  --tilebutton-button-default-color: var(--primaryColor, gray);
  --tilebutton-button-highlight-color: var(--primaryLightColor, lightgray);
  --font-size: inheret;
}

.TileButton {
  width: 80%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  margin: 10px;
  background: var(--tilebutton-button-default-color);

  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--tilebutton-button-highlight-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s all;
}
.TileButton:hover {
  background: var(--tilebutton-button-highlight-color);
}
