:root {
  --glow-light-color: rgb(255, 255, 0, 0.5);
  --glow-dark-color: rgb(230, 230, 0);
  --glow-magnitude: 1px;
}

.WorkflowDnD {
  /* container  */
  touch-action: none;
  display: grid;
  grid-template-areas:
    "header header"
    "inProgress done";
}
.WorkflowDnD > h1 {
  grid-area: header;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
}
.WorkflowDnD > .droppable {
  /* position: absolute; */
  width: inherit;
  margin: 10px;
  height: 200px;
  /* right: 0;
  top: 10; */
  background-color: transparent;
  border: 4px dotted darkgray;
}

.WorkflowDnD .draggable {
  width: 70px;
  height: 50px;
  background-color: gray;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
}
.WorkflowDnD .draggable:hover {
  cursor: pointer;
  animation: wiggle 0.25s ease-out forwards;
}
.WorkflowDnD .draggable:active {
  /* border: 3px white solid; */
  /* padding: 0px 10px; */
  animation: wobble 1s linear infinite;
}
.WorkflowDnD > .inProgress {
  grid-area: "inProgress";
  /* background-color: rgba(0, 255, 0, 0.25); */
}
.WorkflowDnD > .done {
  grid-area: "done";
  /* background-color: rgba(255, 0, 0, 0.25); */
}
@keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes borderglow {
  0% {
    box-shadow: 0 0 0pt 0pt white;
  }
  100% {
    box-shadow: 0 0 3px 1px rgb(0, 0, 0);
  }
}
@keyframes shadowglow {
  0% {
    box-shadow: 0 0 calc(var(--glow-magnitude) * 1) #fff,
      0 0 calc(var(--glow-magnitude) * 2) #fff,
      0 0 calc(var(--glow-magnitude) * 3) var(--glow-light-color),
      0 0 calc(var(--glow-magnitude) * 4) var(--glow-light-color),
      0 0 calc(var(--glow-magnitude) * 5) var(--glow-dark-color),
      0 0 calc(var(--glow-magnitude) * 6) var(--glow-dark-color),
      0 0 calc(var(--glow-magnitude) * 7) var(--glow-dark-color);
  }
  100% {
    box-shadow: 0 0 calc(var(--glow-magnitude) * 2) #fff,
      0 0 calc(var(--glow-magnitude) * 4) var(--glow-light-color),
      0 0 calc(var(--glow-magnitude) * 6) var(--glow-light-color),
      0 0 calc(var(--glow-magnitude) * 8) var(--glow-light-color),
      0 0 calc(var(--glow-magnitude) * 10) var(--glow-light-color),
      0 0 calc(var(--glow-magnitude) * 12) rgb(255, 255, 0.2),
      0 0 calc(var(--glow-magnitude) * 14) rgb(255, 255, 0.1);
  }
}
