.eventpresenter-layout {
  display: flex;
  /* justify-content: center; */
}
.eventscreen {
  transition: all 1s;
}
.eventscreen-detail {
  text-align: left;
}
.eventscreen-detail > h1 {
  font-size: 2rem;
  margin: 2vh 2vw;
}
.eventscreen-detail-desc {
  margin: 2vh 5vw;
  max-height: 30vh;
  overflow-y: scroll;
}
.eventscren-stats-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh 2vw;
}
.eventpage-addtickets {
  display: flex-wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 2vw;
  font-size: 1.5rem;
}
.eventpage-addtickets > div {
  margin: 5px 10px;
}

@media only screen and (max-width: 399px) {
  .eventpresenter-layout {
    border: 1px solid red;
    flex-direction: column;
  }
}
@media only screen and (min-width: 400px) {
  .eventpresenter-layout {
    border: 1px solid blue;
    flex-direction: initial;
    /* align-items: center; */
    justify-content: space-evenly;
    padding: 2vh 2vw;
  }
}
