:root {
  --primaryColor: #4c38ff;
  --primaryLightColor: #6755ff;
  --primaryDarkColor: #0000ad;
  --primaryTransparentColor: #0029e0b4;
  --secondaryColor: #e0b700;
  --secondaryLightColor: #ffe94b;
  --secondaryDarkColor: #aa8800;
  --primaryTextColor: #2c2c2c;
  --secondaryTextColor: #ffffff;
  --primaryLinkColor: #448dfa;
  --button-default-color: var(--secondaryColor);
  --button-highlight-color: var(--secondaryLightColor);
  --buttonUpColor: rgb(0, 200, 0, 0.5);
  --buttonUpHighlightColor: rgb(0, 220, 0, 0.7);
  --buttonDownColor: rgb(200, 0, 0, 0.5);
  --buttonDownHighlightColor: rgb(220, 0, 0, 0.7);

  --card-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --test-border: 1px dotted red;
}

.App {
  text-align: center;
  color: var(--primaryTextColor);
}
.App > link {
  color: #61dafb;
}
.App-logo {
  height: 10vh;
  pointer-events: none;
}
.App-topbar {
  background-color: var(--primaryTransparentColor);
  min-height: 5vh;
  font-size: 10px;
  color: var(--secondaryTextColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.App-topbar:hover {
  /* transition: all 0.3s; */
  background-color: var(--primaryColor);
  font-size: calc(10px + 2vmin);
  color: var(--secondaryTextColor);
  min-height: 20vh;
}
.App-footer {
  background-color: var(--primaryTransparentColor);
  min-height: 5vh;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondaryTextColor);
  transition: all 0.3s;
}
.App-footer:hover {
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
  background-color: var(--primaryColor);
}
.layout-grid {
  height: 100vh;
  width: 100vw;
}
.layout-topbar {
  width: inherit;
  position: fixed;
  top: 0;
}
.layout-content {
  width: inherit;
  margin: 5vh 0px;
}
.layout-footer {
  width: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
