:root{
    --primaryColor: #0029e0;
    --primaryLightColor: #6755ff;
    --primaryDarkColor: #0000ad;
    --secondaryColor: #e0b700;
    --secondaryLightColor: #ffe94b;
    --secondaryDarkColor: #aa8800;
    --primaryTextColor: #2c2c2c ;
    --secondaryTextColor: #ffffff;
    --primaryLinkColor: #448dfa;
    --button-default-color: var(--secondaryColor);
    --button-highlight-color: var(--secondaryLightColor);

    --test-border: 1px dotted red;
}


.App {
  text-align: center;
  color: var(--primaryTextColor);
}
.App > link {
  color: #61dafb;
}
.App-logo {
  height: 10vh;
  pointer-events: none;
}
.App-topbar {
  background-color: var(--primaryColor);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--secondaryTextColor);
  position: sticky
}
.App-footer {
  background-color: var(--primaryColor);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--secondaryTextColor);
}

.layout-grid {
  height: 100vh;
  width: 100vw;
}
.layout-topbar {
  width: inherit;
  position:sticky;
  top: 0;
}
.layout-content {
  width: inherit;
  margin: 100px 0px;
}
.layout-footer {
  width: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}